.float-right {
	text-align: right;
}

	/* import demo */


/* textarea fullwidth */
.text-wide {
	width: 100%;
}

    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    border-color: #CCC;
    background: none repeat scroll 0% 0% #F7F7F7;
    box-shadow: 0px 1px 0px #FFF inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
    vertical-align: top;
}

/* Info bubbles and importing styles  */
p.import-desc {
	width: 75%;
}
.import-desc {
	max-width: 700px;
}
.demo-import-wait-div {
	border-color: #555555;
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}
.demo-import-success-div {
    background-color: #C4EE91;
    border-color: #71AF5D;
    color: #4D7615;
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}
.demo-import-fail-div {
	background-color: #FBEBA4;
	border-color: #D7C281;
	color: #958234;
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}
.info-desc {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 1.5;
	margin: 1em 0px;
}
/* End Info bubbles */
