.float-right {
	text-align: right;
}

	/* import demo */


/* textarea fullwidth */
.text-wide {
	width: 100%;
}

    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    border-color: #CCC;
    background: none repeat scroll 0% 0% #F7F7F7;
    box-shadow: 0px 1px 0px #FFF inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
    vertical-align: top;
}
